.single-page {
  padding: 10px;
  h1 {
    text-align: center;
  }
  .author {
    display: flex;
    width: 200px;
    margin: 10px auto;
    justify-content: space-between;
  }
  a {
    font-size: 30px;
    color: rgb(161, 97, 0);
    .fa-angle-left {
      position: relative;
      top: 10px;
      margin: 0 10px 0 0;
      font-size: 50px;
      animation: shake-arrow 0.5s linear infinite;
    }
  }
  input {
    width: 150px;
  }
  .textarea {
    border: 1px solid black;
    margin: 0 0 10px 0;
    min-height: 50px;
    border-radius: 10px;
    padding: 5px;
    &:focus {
      outline: none;
    }
  }
  .button {
    padding: 7px;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: none;
    box-shadow: 1px 1px 3px 0 black;
    transition: 0.2s;
    &:focus {
      outline: none;
    }
    &:active {
      box-shadow: none;
    }
  }
}

@keyframes shake-arrow {
  0% {right: 0}
  50% {right: 5px}
  100% {right: 0}
}