.header {
  font-family: 'Gloria Hallelujah', cursive;
  background-color: rgb(92, 92, 92);
  h1, h2 {
    text-align: center;
  }
  p {
    text-align: end;
    padding: 0 20px 0 0;
    font-weight: bold;
  }
}