.footer {
  display: flex;
  width: 100%;
  padding: 0 20px;
  background-color: black;
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
  a {
    color: white;
    font-size: 50px;
    .far {
      margin: 0 0 0 20px;
    }
  }
}